{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Contato</title>
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,target-densitydpi=device-dpi, user-scalable=no" />
    <link rel="icon" type="imagem/png" href="{% static 'imagens/bob.png'%}"/>
    <link rel="stylesheet" href="{% static 'css/estilo_cardapio.css' %}">
</head>
<body>
    <header>
            <div class="menu"> 
                <nav>
                    <ul>
                        <li><a href="Home.html">HOME</a></li>
                        <li><a href="Cardápio_joaninha.html">CARDAPIO</a></li>
                        <li><a href="Quem Somos.html">QUEM SOMOS</a></li>
                        <li><a href="Contatos.html">LOCALIZAÇÃO</a></li>
                    </ul>
                </nav>
            </div>
    </header>
    <div id="cardápio">
        <h1>Cardápio</h1>
        <ul><h2>Pratos:</h2>
            <li>Virado a paulista</li>
            <li>Bife</li>
            <li>Filé de frango</li>
            <li>Frango ao molho</li>
            <li>Carne de panela</li>
            <li>Fígado acebolado</li>
            <li>Bife acebolado</li>
            <li>Feijoada</li>
            <li>Calabresa</li>
        </ul>
        <ul><h2>Acompanhamentos:</h2>
            <li>Banana frita, linguiça, ovo, couve (virado)</li>
            <li>Legumes refogado</li>
            <li>Escarola</li>
            <li>Fritas</li>
        </ul>
        <ul><h2>Saladas:</h2>
            <li>Alface e pepino</li>
            <li>Repolho e cenoura</li>
        </ul>
    </div>
</body>
</html>