{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Contato</title>
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,target-densitydpi=device-dpi, user-scalable=no" />
    <link rel="icon" type="imagem/png" href="{% static 'imagens/bob.png'%}"/>
    <link rel="stylesheet" href="{% static 'css/estilo_cardapio.css' %}">
    <script>
        window.onload=function(){
            document.getElementById('concluido').onclick=function(){
                alert("enviado")
            }
            

        }
    </script>
</head>
<body>
    <header>
            <div class="menu"> 
                <nav>
                    <ul>
                        <li><a href="{% url 'home:Home' %}">HOME</a></li>
                        <li><a href="{% url 'home:Cardapio' %}">CARDAPIO</a></li>
                        <li><a href="{% url 'home:QuemSomos' %}">QUEM SOMOS</a></li>
                        <li><a href="{% url 'home:Localizacao' %}">LOCALIZAÇÃO</a></li>
                    </ul>
                </nav>
            </div>
    </header>
    <div id="centero">
        <h1>Cardápio</h1>
        <ul><h2>Pratos:</h2>
            <li>Virado a paulista</li>
            <li>Bife</li>
            <li>Filé de frango</li>
            <li>Frango ao molho</li>
            <li>Carne de panela</li>
            <li>Fígado acebolado</li>
            <li>Bife acebolado</li>
            <li>Feijoada</li>
            <li>Calabresa</li>
        </ul>
        <ul><h2>Acompanhamentos:</h2>
            <li>Banana frita, linguiça, ovo, couve (virado)</li>
            <li>Legumes refogado</li>
            <li>Escarola</li>
            <li>Fritas</li>
        </ul>
        <ul><h2>Saladas:</h2>
            <li>Alface e pepino</li>
            <li>Repolho e cenoura</li>
        </ul>

    </div>
    <div id=centert>
        <form action="">
            <h2>Pedido</h2>
            <br>
            <p class="nome">
                <input type="text" name="nome" placeholder="Informe seu Prato" required="required">
            </p>
            <br>
            <p class="acom">
                <input type="text" name="acompanhamento" placeholder="Informe seu Acompanhamentos"  >
            </p>
            <br>
            <p class="sal">
                <input type="text" name="saladas" placeholder="Informe sua escolha">
            </p>
            <br>
            <p class="sal">
                <input type="text" name="cliente" placeholder="Informe sue Nome" required="required">
            </p>
            <br>
            <p class="sal">
                <input type="email" name="email" placeholder="informe o E-mail" required="required">
            </p>
            <br>
            <p class="sal">
                <input type="text" name="Contato" placeholder="informe numero de Contato" required="required">
            </p>
                
            <br>
            <p class="enviar">
                <input type="submit"name="Concluido" value="Concluido" id="concluido">
            </p>
        </form>
        
    </div>
</body>
</html>