{% extends "base3.html" %}
{% load static %}

{% load widget_tweaks %}
{% block content %}
<!DOCTYPE html> 
<html>
    <head>
        <meta charset="UTF-8"> 
        <title>Joaninha</title>
        <link rel="icon" type="imagem/png" href="{% static 'imagens/bob.png' %}"/>
        <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">    
        <link rel="stylesheet" href="{% static 'css/Home.css' %}">
        
    </head>
    <body>
        {% block conteudo %}
        <header>
            <div class="menu"> 
                <nav>
                    <ul>
                        <li><a href="{% url 'home:Home' %}">HOME</a></li>
                        <li><a href="{% url 'pedidos:pedido_create_view' %}">CARDAPIO</a></li>
                        <li><a href="{% url 'home:QuemSomos' %}">QUEM SOMOS</a></li>
                        <li><a href="{% url 'home:Localizacao' %}">LOCALIZAÇÃO</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <div id="tudo">
            <div id = "borda"><center><h1>Restaurante Joaninha</h1></center></div>
            <div id= "borda1"><h2>Seja Bem Vindo</h2></div>
            <div id="imagem">
                <p class="imagem1 pratos" ><img src="../static/imagens/calabresa.png"></p>
                <p class="imagem2 pratos"><img src="../static/imagens/frango.png" ></p>
                <p class="imagem3 pratos"><img src="../static/imagens/fejoada2.png" ></p>
            </div>
        <marquee id="joaninha" direction="right"><img src="{% static 'imagens/20-imagem.gif' %}" alt=""></marquee>
        {% endblock %}
        </div>
    </body>
</html>
{%endblock content%}