<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="estilo2.css">
    <title>Quem Somos</title>
    <link rel="icon" href="imagem-2.gif">
</head>
<body> 
    <div id="menu">
        <nav >
            <ul>
                <li><a href="Home.html">Página Inicial</a></li>
                <li><a href="#">Quem Somos</a></li>
                <li><a href="#">Cárdapio</a></li>
                <li><a href="#">Contato</a></li>
            </ul>
        </nav>
    </div>
    <h1>A Joaninha</h1>
    <div class ="imagens"></div>
    <b><i><p>O estabelecimento teve origem em meados de 2010, o nome inicial era Lanchonete Torres, 
        e assim ficou por um tempo, porém quando chegou a 2016 o nome mudou para Restaurante e 
        Lanchonete Joaninha que foi devido a uma separação de donos.
        Com o passar do tempo a demanda de pedidos no estabelecimento foi crescendo gradativamente, 
        de 20 pedidos atendidos. Hoje, em dia de alta rotatividade chega ao passar da casa dos 100 pedidos. 
        Como os pedidos são feitos via facebook, WhatsApp e verbalmente no estabelecimento.
        Bom Apetite!
        Carlos Eduardo da Silva Schendroski.
    </p></i></b>
    <script>
         function typeWriter(elemento) {
            const textoArray = elemento.innerHTML.split('');
            elemento.innerHTML = '';
            textoArray.forEach((letra, i) => {
                setTimeout(() => elemento.innerHTML += letra, 75 * i);
            });
        }
        const titulo = document.querySelector('p');
        typeWriter(titulo);
    </script>
</body>
</html>