{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Cardápio</title>
        <link rel="icon" type="imagem/png" href="{% static 'imagens/bob.png' %}" />
        <link href="https://fonts.googleapis.com/css?family=Volkhov&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/Centrega.css' %}" />
        <script src="{%static 'js/Alerta.js' %}"></script>
    </head>
    <body>
        <header>
                <div class="menu"> 
                    <nav>
                        <ul>
                            <li><a href="{% url 'home:Home' %}">HOME</a></li>
                            <li><a href="{% url 'pedidos:pedidos_add' %}">CARDAPIO</a></li>
                            <li><a href="{% url 'home:QuemSomos' %}">QUEM SOMOS</a></li>
                            <li><a href="{% url 'home:Localizacao' %}">LOCALIZAÇÃO</a></li>
                        </ul>
                    </nav>
                </div>
        
        </header>
        <div id = "borda">
            <p id="cores">Bom para comer </p>
        </div>
        <div id= "borda1">
            <p>Desde 2010</p>
        </div>
        <div class="colunas">
            <div class=" unido cardapio">
                <h1>Cardapio</h1>
                <p>Pratos</p>
                <table>
                <tr>
                    <td>Virado a Paulista</td>
                    
                    <td> - </td>
                    <td> R$ 16 </td>
                </tr>
                <tr>
                    <td>Bife</td>
                    
                    <td> - </td>
                    <td>R$ 14</td>
                </tr>
                <tr>
                    <td>Filé de frango</td>
                    
                    <td> - </td>
                    <td>R$ 14</td>
                </tr>
                <tr>
                    <td>Frango ao molho</td>
                  
                    <td>-</td>
                    <td>R$ 13</td>
                </tr>
                <tr>
                    <td>Carne de panela</td>
                    <td> - </td>
                    <td>R$ 14</td>
                </tr>
                <tr>
                    <td>Fígado acebolado</td>
                    <td>-</td>
                    <td>R$14</td>
                </tr>
                <tr>
                    <td>Bife acebolado</td>
                    <td>-</td>
                    <td>R$15</td>
                </tr>
                <tr>
                    <td>Feijoada</td>
                    <td>-</td>
                    <td> R$16</td>
                </tr>
                <tr>
                    <td>Calabresa</td>
                    <td>-</td>
                    <td>R$14</td>
                </tr>
                </table>    
                <p>Acompanhamentos</p>
                <table>
                    <tr>
                        <td>Banana frita</td>
                        <td>-</td>
                        <td>?</td>
                    </tr>
                    <tr>
                        <td>Linguiça</td>
                        <td>-</td>
                        <td>?</td>
                    </tr>
                    <tr>
                        <td>Ovo</td>
                        <td>-</td>
                        <td>?</td>
                    </tr>
                    <tr>
                        <td>Couve (virado)</td>
                        <td>-</td>
                        <td>?</td>
                    </tr>
                    <tr>
                        <td>Legumes refogados</td>
                        <td>-</td>
                        <td>?</td>
                    </tr>
                    <tr>
                        <td>Escarola</td>
                        <td>-</td>
                        <td>?</td>
                    </tr>
                    <tr>
                        <td>Fritas</td>
                        <td>-</td>
                        <td>?</td>
                    </tr>
                </table>
                
                <p>Saladas</p>
                <table>
                    <tr>
                        <td>Alface e Pepino</td>
                        <td>-</td>
                        <td>?</td>
                    </tr>
                    <tr>
                        <td>Repolho e Cenoura</td>
                        <td>-</td>
                        <td>?</td>
                    </tr>
                </table>
            </div>
            <div class="unido formulario">
                <form method="POST">{% csrf_token %}
                    <h1 id=titulo>Faça seu pedido Aqui:</h1>
                    <p id=nomeid>Nome:<br>{{form.nome_cliente }}</p>
                    <p>Email:<br>{{form.email }}</p>
                    <p>Prato:<br>{{form.prato }}</p>
                    <p>Acomapnhamentos:<br>{{form.acompanhamentos}}</p>
                    <p>Saladas:<br>{{form.saladas}}</p>
                    <p>Forma de Pagemento:<br>{{form.forma_de_pagamento}}</p>
                    <p>Endereço:<br>{{form.endereco }}</p>
                    <p>Contato:<br>{{form.numero_contato }}</p>
                    <br><br>          
                    <button onClick="Enviar()">Concluir</button>
                </form>
            </div>
            
        </div>
    </body>
</html>