{% extends "base2.html" %}
{% load static %}

{% load widget_tweaks %}
{% block content %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Cardápio</title>
        <link rel="icon" type="imagem/png" href="{% static 'imagens/bob.png' %}"/>
        <link href="https://fonts.googleapis.com/css?family=Volkhov&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/Centrega.css' %}" />    
    </head>
    <body>       
        <header>
                <div class="menu"> 
                    <nav>
                        <ul>
                            <li><a href="{% url 'home:Home' %}">HOME</a></li>
                            <li><a href="{% url 'pedidos:pedido_create_view' %}">CARDAPIO</a></li>
                            <li><a href="{% url 'home:QuemSomos' %}">QUEM SOMOS</a></li>
                            <li><a href="{% url 'home:Localizacao' %}">LOCALIZAÇÃO</a></li>
                        </ul>
                    </nav>
                </div>
        
        </header>
        <div id = "borda">
            <p id="cores">Bom para comer </p>
        </div>
        <div id= "borda1">
            <p>Desde 2010</p>
        </div>
        <div class="colunas">
            <div class=" unido cardapio">
                <h1>Cardápio</h1>
                <p>Pratos</p>
                <table>
                <tr>
                    <td>Virado a Paulista</td>
                    
                    <td> - </td>
                    <td> R$ 16 </td>
                </tr>
                <tr>
                    <td>Bife</td>
                    
                    <td> - </td>
                    <td>R$ 14</td>
                </tr>
                <tr>
                    <td>Filé de frango</td>
                    
                    <td> - </td>
                    <td>R$ 14</td>
                </tr>
                <tr>
                    <td>Frango ao molho</td>
                  
                    <td>-</td>
                    <td>R$ 13</td>
                </tr>
                <tr>
                    <td>Carne de panela</td>
                    <td> - </td>
                    <td>R$ 14</td>
                </tr>
                <tr>
                    <td>Fígado acebolado</td>
                    <td>-</td>
                    <td>R$14</td>
                </tr>
                <tr>
                    <td>Bife acebolado</td>
                    <td>-</td>
                    <td>R$15</td>
                </tr>
                <tr>
                    <td>Feijoada</td>
                    <td>-</td>
                    <td> R$16</td>
                </tr>
                <tr>
                    <td>Calabresa</td>
                    <td>-</td>
                    <td>R$14</td>
                </tr>
                </table>    
                <p>Acompanhamentos</p>
                <table>
                    <tr>
                        <td>Banana frita</td>
                     
                    </tr>
                    <tr>
                        <td>Linguiça</td>
                        
                    </tr>
                    <tr>
                        <td>Ovo</td>
                        
                    </tr>
                    <tr>
                        <td>Couve (virado)</td>
                       
                    </tr>
                    <tr>
                        <td>Legumes refogados</td>
                      
                    </tr>
                    <tr>
                        <td>Escarola</td>
                    </tr>
                    <tr>
                        <td>Fritas</td>
                    </tr>
                </table>
                
                <p>Saladas</p>
                <table>
                    <tr>
                        <td>Alface e Pepino</td>
                    </tr>
                    <tr>
                        <td>Repolho e Cenoura</td>
                    </tr>
                </table>
            </div>
            <div class="unido formulario">
                
                <center><p>Pedido</p></center>
                <form action="" method="POST" novalidate>
                        {% csrf_token %}
                        {% for field in form.visible_fields %}
                          <div class="form-group{% if field.errors %} has-error {% endif%}">
                            <label for="{{ field.id_for_label }}">
                              {% if field.field.required %}
                                <span class="required">{{ field.label }} </span>
                              {% else %}
                                {{ field.label }}
                              {% endif %}
                            </label>
                            {% render_field field class="form-control" %}
                            {% for error in field.errors %}
                              <span class="text-muted">{{ error }}</span>
                            {% endfor %}
                          </div>
                        {% endfor %}
                        <center><button type="submit" class="btn btn-success">Fazer Pedido</button></center>
                
                </form>
                
                
            </div>
        </div>
    </body>
</html>
{%endblock content%}


