{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-sm-6">
        <form action="." method="GET" class="form-inline">
            <input type="text" id="search"  name="search"class="form-control" placeholder="Busca">
            <input type="submit" class="btn btn-primary" style="margin-left: 10px;" value="OK">
        </form>
    </div>
</div>
<div>
    <h2>Lista de Pedidos
        <span class="pull-right">
            <a href="{% url 'pedidos:pedido_add' %}">
                <button type="button" class="btn btn-primary">
                 <span class="fa fa-plus"></span>Adicionar
                </button>
            </a>
        </span>
    </h2>
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nome do Cliente</th>
                <th>E-mail</th>
                <th>Prato</th>
                <th>Acompanhamento</th>
                <th>Saladas</th>
                <th>Forma de Pagamento</th>
                <th >Endereço</th>
                <th >Numero de contato</th>
                <th >Horário</th>
            </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
            <tr>
                <td>{{object.nome_cliente}}</td>
                <td>{{object.email}}</td>
                <td>
                    <a href="{{ object.get_absolute_url }}">{{ object.prato }}</a>
                </td>
                <td>{{object.acompanhamentos}}</td>
                <td>{{object.saladas}}</td>
                <td>{{object.forma_de_pagamento}}</td>
                <td>{{object.endereco}}</td>
                <td>{{object.numero_contato}}</td>
                <td>{{object.horario}}</td>
            </tr>
        {% endfor%}
    </tbody>
    </table>

   
</div>

{% endblock content %}
