body{
    background-color:black;
    background-size: cover;
}
h1{
    color:black;
    text-align: center;
}
h2{
    color:black;
    text-align: left;
}
li{
    color:black;
}

#prato option{
    width: 240px;
}

#Acompanhamentos option{
    width: 240px;
}

#Saladas option{
    width: 240px;
}

#FormaPagamento option{
    width: 240px;
}

#nomeid{
    width: 260px;
}



#cardapio{
    border: thick groove #000000;
    background-color:brown;
    max-width: 600px;
    margin-top:150px
}

#opcoes{
    border: thick groove #000000;
    background-color:brown;
    max-width: 600px;
    margin-left:670px;
    margin-top:-560px;
    padding:2%;
}

}
.menu{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2%;
    
}
header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 9px 0;
    text-align: center;
    background-color: brown;
    border-bottom:2px solid;
}
header li{
    display: inline-block;
    margin: 20px 70px;
}
li :hover{
    color:blanchedalmond;
}
header a{
    font-size: 16px;
    text-decoration: none;
    color: black;
}
