*{margin: 0;padding: 0;box-sizing: border-box;}
body{
    background-image: url();
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
}

menu{
    max-width: 100%;
    margin: 0 auto;
    padding:0 2%;
	
}
header{
    width: 100%;
    padding: 5px 0;
    text-align: center;
    background-color:rgba(0, 0, 0, 0.609) ;
    border-bottom:2px solid;
    
}
header li{
    display: inline-block;
    margin: 20px 70px;
}
li :hover{
    color:blanchedalmond;
}
header a{
    font-size: 16px;
    text-decoration: none;
    color: white;
}

h2{
    font-family: 'Courier New', Courier, monospace;
    border: black 1px solid;
    width: 460px;
    height: 138px;
    background-image: url(../imagens/whatsfundo.jpg);
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    padding: 0%;
    text-align: center;
     
}
img{
    height: 10%;
    width: 5%;
    padding: 0%;
    margin: 0%;
}
h3{
    font-family: 'Courier New', Courier, monospace;
    border: black 1px solid;
    position: absolute;
    background-color: red;
    transform: translateY(-50%) translateX(-50%);
    top: 87%;
    left: 50%;
    margin: auto;
}

#mapa{
    margin-left: 28%;
    margin-top: 10px; 
}

@media only screen and (max-width:800px){
    #mapa{
        margin-left: 5%;
        margin-top: 1px; 
    }

    #titulo{
        align-content: center;
        margin-top: 1400px; 
    }
    
    h2{
        font-family: 'Courier New', Courier, monospace;
        border: black 1px solid;
        width: 460px;
        height: 138px;
        background-color: red;
        background-image: url(../imagens/whatsfundo.jpg);
        position: absolute;
        top: 110%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        padding: 0%;
        text-align: center;
         
    }
}

h1{
    color: orange;
    text-align: center;
    top: 0%;
}

#titulo{
    align-content: center;
    margin-top: 75px;/* com o valor de posentagem o titulo fica em maicho da imagem do mapa, usando px o titulo fica embaixo */
    
}
#tela{
    background-color: rgba(0, 0, 0, 0.342);
    background-image: url(../imagens/whatsfundo.jpg);
}

