*{margin: 0;padding: 0;box-sizing: border-box;}
body{
    background-image: url(../imagens/11-imagem.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;    
}
.menu{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2%;
    
}
header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 9px 0;
    text-align: center;
    background-color: brown;
    border-bottom:2px solid;
    /* background-color: brown; */
}
header li{
    display: inline-block;
    margin: 20px 70px;
}
li :hover{
    color:blanchedalmond;
}
header a{
    font-size: 16px;
    text-decoration: none;
    color: black;
}
p{
    margin-left: 650px;
    color: white;
    font-family: 'Kaushan Script', cursive;
    font-size: 15px;
    margin-top: 200px;
    margin-right: 200px;
}
.imagens{
    width: 550px;
    height: 400px;
    background-image: url(../imagens/nao.jpg);
    float: left;
    text-align: center;
    margin-block-start: 80px;
    margin-left: 50px;
}
h1{
    color: #ff8106;
    text-align: center;
    margin-top:7%;
    
}
#fundo{
    background-color: rgba(0, 0, 0, 0.342);
    margin-bottom: 0%; 
}