*{margin: 0;padding: 0;box-sizing: border-box;}
body{
    background-image: url(../imagens/preto.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    
    
	 
}

#resultado{
    color: white;
    font-family: 'Volkhov', serif;
    text-justify: auto;
}


.menu{
    max-width: 100%;
    margin: 0 auto;
    padding:0 2%;
	
}
header{
    width: 100%;
    padding: 5px 0;
    text-align: center;
    background-color:rgba(0, 0, 0, 0.609) ;
    border-bottom:2px solid;
    
}
header li{
    display: inline-block;
    margin: 20px 70px;
}
li :hover{
    color:blanchedalmond;
}
header a{
    font-size: 16px;
    text-decoration: none;
    color: white;
}
p{
    text-justify: auto;
    margin-left: 60%;
    color: white;
    font-family: 'Kaushan Script', cursive;
    font-size: 20px;
    margin-top: 2%;
    margin-right: -10%;
	
}
.borda{
    width: 80%;
    height: 600px;
    
    border: 3px solid black;
    border-radius: 5%;
    

    padding-bottom: 8%;
    margin-top: 5%;
    padding-right: 10%;
    background-image: url(../imagens/joaninha52.jpg);;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    
    
	
    
}
#imagens{
    width: 50%;
    height: 500px;
    margin-block-start: 2%;
    margin-left: 2%;
    float: left;
    border-radius: 5%;

    background-size: 100% 100%;
    animation: imagens 20s infinite;
    border: black 2px solid;
   
	
}



#imagens .borda{
    float: left;
    
}
h1{
    color: rgba(167, 245, 245, 0.788);
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    margin-top:6%;
    margin-left: 68%;
}
@keyframes imagens{
    0%, 16%{
        background-image: url(../imagens/imagem-26.jpeg);
    }
    16%, 32%{
        background-image: url(../imagens/imagem-27.jpeg);}
    32%, 48%{
        background-image: url(../imagens/imagem-28.jpeg);
    }
    48%, 64%{
        background-image: url(../imagens/imagem-29.jpeg);
    }
    64%, 80%{
        background-image: url(../imagens/imagem-30.jpeg);
    }
    80%, 100%{
        background-image: url(../imagens/imagem-31.jpeg);
    }
}