*{margin: 0;padding: 0;box-sizing: border-box;}
body{
    background-image: url(../imagens/13-imagem.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
   
}
.menu{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2%;
    
}
header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 9px 0;
    text-align: center;
    background-color: brown;
    border-bottom:2px solid;
    /* background-color: brown; */
}
header a{
    font-size: 16px;
    text-decoration: none;
    color: black;
}
header li{
    display: inline-block;
    margin: 20px 70px;
}
li :hover{
    color:blanchedalmond;
}



/* !!!!!!!!!!!!!!!!! */

form{
    font-size: 16px;
    background-color: ;
    height: 300px;
    text-align: center;
    
    padding: 10px;
    margin-top: 30px;
}
h2{
    color: ;
}
input,textarea{
    width: 470px;
    padding: 10px;
}
.enviar input{
    background-color: #069;
    height: 40px;
    width: 150px;
    font-weight: bold;
    border-radius: 5px;
    border:1px solid;
    color: beige;
    cursor: pointer;
}
.enviar input:hover{
    background-color: #078;
}
#center{
    display: inline-block;
    padding: 70px;
    
    background-color: crimson;
}
#cardapio{
    display: inline-block;
    margin-top: 100px;
    margin-left: 300px;
    
    width: 260px;
    background: blue;
    display: inline-block;    
}
h1{
    text-align: center;
}
li{
    list-style-type: none;
    color: beige;
    font-size: 20px;

    
}
ul{
    padding-left: 20px;
}


#centero{
    background-color: ;
    display: inline-block;
    margin-top: 100px;
    margin-right: 100px;
    margin-left:  300px;
    border: black solid 2px;
    padding: 10px;
    
  
}
#centert{
    
    background-color: ;
    display: inline-block;
   
    padding-bottom:150px ;
    padding-top:0px ;

}







