body{
    margin: 0;
    background-color:rosybrown;
    width: 100%;
}
#menu ul{
    margin: auto;
    list-style: none;
    font-family:'Courier New', Courier, monospace;
    font-size: 30px;
    background-color: brown;
}
#menu ul li{
    display: inline;
}
#menu ul li a{
    padding: 20px 20px;
    display: inline-block;
    color: black;
    
    text-decoration: none;
}
#menu ul li a:hover{
    color:white;
    border: black  5px ;
    
    
}
p{
    margin-left: 650px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    margin-top: 60px;
}
.imagens{
    width: 600px;
    height: 400px;
    background-image: url(nao.jpg);
    float: left;
}
h1{
    color: white;
}
