*{margin: 0;padding: 0;box-sizing: border-box;}

body{
    background-image: url(../imagens/Preto-02.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
}
h1{
    font-family: 'Pacifico', cursive;
    font-size:100px;
    animation: h1 1s infinite;
}
h2{
    font-family:'Times New Roman', Times, serif;
    font-size:50px;
    color:white;
}
#borda{
    padding-bottom: 2%;
    margin-top: 50px;
    background-image:url(../imagens/Preto-06.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    margin-right: 15%;
    margin-left: 15%;   
}
#borda1{
    margin-top: -5px;
    margin-right: 15%;
    margin-left: 15%;
    background-image:url(../imagens/Preto-05.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
}
.borda2{
    margin-top: -5px;
    margin-right: 15%;
    margin-left: 15%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
}
a{
    text-decoration: none;
    color:black;
}

a:hover {
    color:blanchedalmond; 
}
@keyframes h1{
    0%   {color: red;}
    25%  {color: white;}
    50%  {color: slateblue;}
    100% {color: brown;}
}