*{margin: 0;padding: 0;box-sizing: border-box;}
body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    background-image: url(../imagens/preto.jpg);
}
.menu{
    max-width: 100%;
	
}
header{
    width: 100%;
    padding: 5px 0;
    text-align: center;
    background-color:rgba(0, 0, 0, 0.609) ;
    border-bottom:2px solid;
    
}
header li{
    display: inline-block;
    margin: 20px 70px;
}
li :hover{
    color:blanchedalmond;
}
header a{
    font-size: 16px;
    text-decoration: none;
    color: white;
}
#borda{
    border: 10px outset;
    padding-bottom: 2%;
    
    margin-top: 50px;
    background: rgba(119, 80, 80, 0.39);
    margin-right: 15%;
    margin-left: 15%;
    
    
}
#borda1{
    border: 5px solid rgba(119, 80, 80, 0.39);;
    border: 10px outset;
    margin-top: -5px;
    margin-left: 15%;
    background-color: rgba(119, 80, 80, 0.39);
    width: 20%;
    height: 140px;
    
    float: left;
}
#borda2 img{
    border: 5px solid rgba(119, 80, 80, 0.39);;
    border: 10px outset;
    margin-top: -5px;
    background-color:rgba(119, 80, 80, 0.39);;

    width: 20%;
    height: 140px;
    float: left;
}
img{
}
#borda3{
    border: 5px solid rgba(119, 80, 80, 0.39);;
    margin-top: -5px;
    background-color:rgba(119, 80, 80, 0.39);;
    border: 10px outset;
    width: 30%;
    height: 140px;
    float: left;
}


h1{
    font-family: 'Pacifico', cursive;
    font-size:100px;
    animation: h1 1s infinite;
}
h2{
    font-family:'Times New Roman', Times, serif;
    font-size:50px;
    color:white;
}
@keyframes h1{
    0%   {color: red;}
    25%  {color: white;}
    50%  {color: slateblue;}
    100% {color: brown;}
}
